{% extends "base.html" %}

{% block content %}
<h1>Hola, {{ usuario.nombre }} </h1>


<nav>
    <a href="{{ url_for('routes.cambiar_contraseña') }}">Cambiar Contraseña</a>
    <a href="{{ url_for('routes.logout') }}">Cerrar Sesión</a>
</nav>


<h2>Mis Pedidos</h2>
{% if pedidos %}
<table border="1">
    <tr>
        <th>ID del Pedido</th>
        <th>Fecha</th>
        <th>Estado</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.fecha_pedido }}</td>
        <td>{{ pedido.estado }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No tienes pedidos registrados aún.</p>
{% endif %}

{% endblock %}
